body {

    font-family: 'Times New Roman', sans-serif;
    background-color: #156292;
    color: #000000;
    padding: 2rem;
    margin: 0;

}

/*card-like dashboard*/
.dashboard {


    max-width: 600px;
    margin: auto;

}

/*each data feature styling*/
.metric {

    margin-bottom: 1rem;
    font-size: 1rem;
}


/*title styling*/
.title {

    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000000;
    text-align: center;
}

.title-box {

    background-color: white;
    border-radius: 12px;
    padding: 1em;
    margin-bottom: 1rem;

}

.metrics-box {

    background-color: white;
    border-radius: 12px;
    padding: 2rem;

}