<html>
<head>
    <title> CDIP Surf Forecast </title>
    <link rel ="stylesheet" href = "/static/style.css">
</head>
<body>
    <div class="dashboard">
        <div class="title-box">
            <div class ="title">Surf Forecast Data</div>
        </div>
        <div class="metrics-box" id="data"></div>
    </div>

<script>

// fetches surf data from backend API
fetch('/api/surfdata')

    .then(function(response) {
        // converts response to JSON
        return response.json();
    })
    
    .then(function(data) {
        // gets <ul> with id = "data"
        const container = document.getElementById('data');

        // loops wave data appends to list
        for (let i = 0; i < data.time.length; i++) {

            const time = data.time[i]
            const height = data.waveHs[i]
            const peakPeriod = data.waveTp[i]
            const peakDirection = data.waveDp[i]
            const avgPeriod = data.waveTa[i]
            const meanZupCrossing = data.waveTz[i]
            const powerSpectralDensity = data.wavePeakPSD[i]
            
            // creates new <div> element
            const div = document.createElement('div');
            div.classList.add('metric');

            // formatting for readability (line breaks)
            div.innerHTML = `
                <strong>Time:</strong> ${time} <br>
                <strong>Wave Height:</strong> ${height} meters <br>
                <strong>Peak Period:</strong> ${peakPeriod} seconds <br>
                <strong>Peak Direction:</strong> ${peakDirection} degrees <br>
                <strong>Average Period:</strong> ${avgPeriod} seconds <br>
                <strong>Mean Zero-Up Crossing Period:</strong> ${meanZupCrossing} seconds <br>
                <strong>Peak Power Spectral Density:</strong> ${powerSpectralDensity} m^2/Hz
            `;

            // appends to list
            container.appendChild(div);
        }
    })

    .catch(function(error) {

        console.error('Error Fetching Data:', error);
    })

</script>

</body>
</html>